body{
margin: 0; font-family: 'Bitter', serif;
font-family: 'Gentium Book Plus', serif;
font-family: 'Kanit', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Solway', serif;

}

         .container{
         background-image: url(photos/cover.jpg); padding-top: 0; margin-top: 0; height: 700px; width: 100% ; display: flow-root; background-position: center;
         background-repeat: no-repeat;
         background-size: cover; color: rgb(194, 182, 15);
         }
             .head1{
             margin-left: 150px; margin-top: 200px; font-size: 50px;
             }
             .head2{
             margin-left: 150px; font-size: 15px;
             }
             .button{
             margin-left: 250px;  text-decoration: none; color: black; background-color: rgb(211, 178, 31); padding: 8px;border-radius: 5px; 
             margin-top: 20px;}
       .container2{
       margin-top: 150px; 
       }
          .sector{
            margin-left: 150px; text-align: justify; margin-right: 70px;
          }
          .photo{
            background-size: cover; background-repeat: no-repeat;height: 300px;width: 80x; margin-right: 40px;
          }

          .photo2{
            background-size: cover; background-repeat: no-repeat;height: 300px;width: 80x; margin-left: 40px;
          }
   .container3{
    margin-top: 90px;
   }
      .head{
        font-size: 50px; text-align: center;
      }
      .paragraph{
        color: #707070; text-align: center;
      }
          .icone{
            height: 80px; width: 50px;
          }
              .picture{
                display: flex;
              }
                .photo1{
                  margin: 100px 30px 0px 150px;  height: 250px; width: 220px;
                }
    .last{
      margin-left: 40px; padding: o 5px 0 5px;
    }
    .photo3{
      height: 350px; width: 380px;
    }
    .container4{
      background-color: rgb(236, 234, 208); margin: 0 30px 0 26.5px;
    }
    footer{
      text-align: center; background-color: #d8b75d; height: 300px; width: 100%; 
    } 
    .foot{
      margin: 200px 0 0 0;
    }